/* window */

html {
  background : #2B2D36;
}

body {
  margin: 0;
}

noscript {
  color: #FFFFFF;
}

#root {
  display: block;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

/* docbar */

.docbar {
  background-color: #E11A6D;
  margin: 0 -0.5em;
  padding: 0 1.75em;
}

.docbar__item {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.docbar__link {
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  color: #f8f8f2;
  display: block;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  font-weight: 800;
  padding: 0.5em 0.5em 0.21em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.docbar__link:hover {
  border-bottom-color: #8AE9FD;
  color: #8AE9FD;
}

/* repl overrides */

.repl-panel-header {
  background-color: #22262B;
}

.CodeMirror-gutter,
.CodeMirror-scroll,
.js-input,
.js-output,
.repl-panel-body,
.repl {
  background-color: #2B2D36 !important;
}

