html {
  background : #2B2D36;
}

body {
  margin: 0;
}

noscript {
  color: #FFFFFF;
}

#root {
  animation: fadeIn ease-in-out 100ms;
  display: block;
  height: 100vh;
  width: 100vw;
}

.CodeMirror-gutter,
.CodeMirror-scroll,
.repl-panel-body,
.repl {
  background-color: #2B2D36 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
